<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/build/css/stylesass.css' />
  <link rel="apple-touch-icon" href="images/logo/hhlogosmall.png">
  <link rel="apple-touch-icon" sizes="90x90" href="images/logo/hhlogo.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/logo/hhlogomedium.png">
  <link rel="apple-touch-icon" sizes="360x360" href="images/logo/hhlogolarge.png">
</head>
