<section class="hidden" id="objective_menu">
  <h2>Hallo <%= username %></h2>
  <div class="objectives_text">
    <p>De Rode Aardvark verstopt zich in de <strong>meet en weeg kamer</strong></p>
    <img src="/images/aardvark.png" alt="">
  </div>
</section>
