<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/build/css/stylesass.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  </head>

  <!-- <script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script> -->
  <!-- <script src="/javascripts/aframe-ar.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
  <script>

  </script>
  <body class="admin">
    <section>
      <h2>Actieve gebruikers</h2>
      <ul id="admin_user_list">

      </ul>
    </section>
    <section>
      <h2>Gebruiker</h2>
      <p>speelt: <em id="admin_what_game">spel</em></p>
      <h3 class="points">Gebruikers punten:<em id="admin_dance_points">0</em></h3>
    </section>


  </body>

  <script src="/javascripts/admin.js" type="text/javascript"></script>
</html>
