<!DOCTYPE html>
<html>
  <% include partials/head %>

  <body id="charactercreator">
    <h2><%= username %></h2>
    <form class="createuser" method="post">
      Kies een karakter
      
      <input type="radio" name="pick_a_character" value="1" checked>Man<br>
      <input type="radio" name="pick_a_character" value="2">Vrouw<br>
      <input type="radio" name="pick_a_character" value="3">Dier<br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <!-- <script src="/javascripts/menu.js"></script> -->
</html>
