<!DOCTYPE html>
<html>
  <% include partials/head %>

  <body id="charactercreator">
    <h2><%= username %></h2>
    <h2><%= character %></h2>
  </body>
  <!-- <script src="/javascripts/menu.js"></script> -->
</html>
