<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script>
  <script src="/javascripts/aframe-ar.min.js"></script>
  <body id="startmenu">

    <a-scene embedded arjs='trackingMethod: best; sourceType: webcam; debugUIEnabled: false;'>


      <a-camera-static/>
      <!-- <a-entity camera></a-entity> -->
    </a-scene>

    <header>
      <h1>HospitalHero</h1>
      <nav>
        <ul>
          <li>
            <a href="/game"><em>Start</em></a>
          </li>
          <!-- <li>
            <a href="#"></a>
          </li> -->
        </ul>
      </nav>
    </header>


  </body>
  <!-- <script src="/javascripts/menu.js"></script> -->
</html>
