<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/build/css/stylesass.css' />
    <link rel="apple-touch-icon" href="images/logo/hhlogosmall.png">
    <link rel="apple-touch-icon" sizes="90x90" href="images/logo/hhlogo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/logo/hhlogomedium.png">
    <link rel="apple-touch-icon" sizes="360x360" href="images/logo/hhlogolarge.png">
  </head>

  <script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script>
  <script src="/javascripts/aframe-ar.min.js"></script>
  <body id="startmenu">

    <a-scene embedded arjs='trackingMethod: best; sourceType: webcam; debugUIEnabled: false;'>
      <a-camera-static/>
      <!-- <a-entity camera></a-entity> -->
    </a-scene>

    <header>
      <!-- <h1 class="hidden">HospitalHero</h1> -->
      <img src="/images/Hospitalhero.PNG" alt="">
      <nav>
        <ul>
          <li>
            <a href="/users">Maak een nieuw karakter</a>
            <a href="/game"><em>Vangspel</em></a>
            <a href="/dance"><em>Focusspel</em></a>
          </li>
          <!-- <li>
            <a href="#"></a>
          </li> -->
        </ul>
      </nav>
    </header>


  </body>
  <!-- <script src="/javascripts/menu.js"></script> -->
</html>
