<!DOCTYPE html>
<html>
  <% include partials/head %>

  <body id="users">
    <a href="/users/login">login</a>
    <form class="createuser" method="post">
      Gebruikers naam
      <input type="text" name="username" value="Anne"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
  <!-- <script src="/javascripts/menu.js"></script> -->
</html>
