@import 'common/_colors';

#startmenu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/images/ziekenhuisdesign.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;

    // position: absolute;

    h2 {
      display: block;

    }
    .character_card {
      img {
        height: 3em;
        width: 3rem;
        margin: 0;
      }
    }
}
