@import 'common/_colors';

#startmenu {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("/images/ziekenhuisdesign.jpg");
  width: 100%;
  height: 100vh;
  .character_card {
    background-color: $color_a;
    
    font-size: 2em;
    //padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    left:10%;
    // position: absolute;

    h2 {
      display: block;

    }
    img {
      height: 3em;
      width: 3rem;
      margin: 0;
    }

  }
}
