@import 'common/_colors';

#charactercreator {
  background-color: $color_a;
  font-size: 2em;
  header {
    position: relative;
    left: 30%;
  }
  form {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items:  stretch ;
  }
  em {
    display: block;
  }
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    + img {
      cursor: pointer;
    }
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
  label {
    // flex-grow: 3;
  }
  img {
    height: 30rem;
  }
  input[type=submit] {
    background-color: $color_b;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1em;
    font-family: 'Chalkduster', 'EraserRegular-webfont',"Lucida Grande", Helvetica, Arial, sans-serif;
    // position: relative;
    // left: 80%;

  }
  input:last-of-type {
    width: 80%;
  }
}
