



@font-face {
    font-family: 'Chalkduster';
    src:url('/Chalkduster.ttf.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
@font-face{
	font-family: 'EraserRegular-webfont';
	src: url('/EraserRegular-webfont.eot');
	src: url('/EraserRegular-webfont.eot?iefix') format('eot'),
	     url('/EraserRegular-webfont.woff') format('woff'),
	     url('/EraserRegular-webfont.ttf') format('truetype'),
	     url('/EraserRegular-webfont.svg#webfont') format('svg');
}

@import 'common/_colors';
@import 'mainmenu';
@import 'catchgame';
@import 'dancegame';
@import 'messagebox';
@import 'createcharacter';
@import 'character';
@import 'login';

body {

  margin: 0px;
  overflow: hidden;
  /* padding: 0px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Chalkduster', 'EraserRegular-webfont',"Lucida Grande", Helvetica, Arial, sans-serif;
}
body a-scene {
  max-height: 100%;
  max-width: 100%;
  transition: max-height 0.50s ease-out, max-width 0.50s ease-out;

}
body a-scene.tiny {
  max-height: 0;
  max-width: 0;
  transition: max-height 0.50s ease-in, max-width 0.50s ease-in;

}
a {
  color: #00B7FF;
}
.character_card {
  background-color: $color_a;

  font-size: 2em;
  //padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  left:10%;
}
button {
  touch-action: manipulation;
}
.hidden {
  display: none;
}
