@font-face {
    font-family: 'Chalkduster';
    src:url('Chalkduster.ttf.woff') format('woff'),
        font-weight: normal;
        font-style: normal;
}

body {

  margin: 0px;
  overflow: hidden;
  /* padding: 0px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Chalkduster';
}
body a-scene {
  max-height: 100%;
  max-width: 100%;
  transition: max-height 0.50s ease-out, max-width 0.50s ease-out;

}
body a-scene.tiny {
  max-height: 0;
  max-width: 0;
  transition: max-height 0.50s ease-in, max-width 0.50s ease-in;

}
a {
  color: #00B7FF;
}
#menu {
  position: fixed;
  width: 100%;
  height: 89%;
  border-radius: 2rem;
  top: 0;
  left: 0;
  z-index: 10;
  /* background-color: rgba(237, 157, 34, 1); */
  background: rgb(242,162,39); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,162,39,1) 0%, rgba(255,171,94,1) 51%, rgba(255,171,94,1) 51%, rgba(170,106,15,1) 52%, rgba(177,118,30,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(242,162,39,1) 0%,rgba(255,171,94,1) 51%,rgba(255,171,94,1) 51%,rgba(170,106,15,1) 52%,rgba(177,118,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(242,162,39,1) 0%,rgba(255,171,94,1) 51%,rgba(255,171,94,1) 51%,rgba(170,106,15,1) 52%,rgba(177,118,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a227', endColorstr='#b1761e',GradientType=0 ); /* IE6-9 */

}
#menu li {
  width: 50%;
  float: left;
  list-style: none;
  text-align: center;
}
#menu li:nth-of-type(even) {
  float: right;
}
#menu ul {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap; */
  height: 98%;
  width: 100%;
  overflow-y: scroll;
  padding: 0;
}
#menu img {
  display: block;
  margin: 0 auto;
  width: 60%;
}
#menubutton {
  position: fixed;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  font-weight: bold;
  bottom: 0;
  right: 0;
  z-index: 9;
}
#menubutton img {
  width: 6rem;
}
#menubutton em {
  position: absolute;
  z-index: 10;
  right: 3rem;
  bottom: 2.3rem;
}
#closemenubutton {
  position: fixed;
  left: 0;
  height: 10%;
  bottom: 0;
  width: 70%;
  border-radius: 1rem;
  /* padding: 1rem; */
  font-weight: bold;
  background-color: rgba(0, 255, 218, 0.70);
}
#catchbutton {
  /* padding: 0.5rem; */
  height: 10%;
  left: 5%;
  width: 5em;
  background-color: rgba(0, 255, 218, 0.70);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 3em;
  /* margin-left: -2.5em; */
  position: fixed;
  bottom: 10px;
  z-index: 9;
  border-radius: 1rem;
  -webkit-transition: background-color 1s; /* Safari prior 6.1 */
  transition:  background-color 1s;
  box-shadow: 3px 3px 3px 0px black;
}
#catchbutton img {
  /* width: 4rem; */
  height: 90%;
  padding-top: 0.3rem;
}
#catchbutton:not(.nonactive) {
  -webkit-animation-name: activebutton; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  /* -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */ */
  -webkit-animation-timing-function: ease-in-out;
  animation-name: activebutton;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
}
#catchbutton.nonactive {
  background-color: rgba(122, 122, 122, 0.5);
  color: rgba(255, 255, 255, 0.5);

}
@-webkit-keyframes activebutton {
  0% {padding: 0rem;}
  50% {padding: 1rem;}
  100% {padding: 0rem;}
}

/* Standard syntax */
@keyframes activebutton {
  0% {padding: 0rem;}
  50% {padding: 1rem;}
  100% {padding: 0rem;}
}
#wincatching {
  z-index: 9;
  font-size: 0.5em;
  background-color: red;
  position: absolute;
  width: 90%;
  left: 5%;
  top: 50%;
  border-radius: 1rem;
  padding: 2rem 0rem;
  background-color: rgba(0, 255, 218, 0.90);
  text-align: center;
}
#wincatching a {
  display: block;
  font-size: 2em;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 3px 3px 3px 0px black;
  border-radius: 1rem;
  color: white;
  background-color: red;
}
#menu img.hidden {
  display: none;
}
@media screen and (min-width: 530px) {
  #catchbutton {
    left:40%;
  }
  #wincatching {
      font-size: 0.7em;
  }
}
@media screen and (min-width: 1000px) {
  #catchbutton  {

  }
  #wincatching {
    font-size: 1em;
  }
}
/* ///////////////////////////////////////////// */
/* startmenu */
/* ///////////////////////////////////////////// */

#startmenu header {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 1rem;
  z-index: 9;
  left: 5%;
  border-radius: 1rem;
  background-color: #18dac8;
}
#startmenu h1 {
  font-size: 3em;
  text-align: center;
}
#startmenu ul {
  margin: 0;
  padding: 0;
}
#startmenu  li {
  list-style-type: none;
}
#startmenu a {
  text-align: center;
  display: block;
  color: black;
  font-size: 2em;
  text-decoration: none;
  background-color: rgb(228, 255, 0);
  /* padding: 1rem; */
  border-radius: 1rem;
  width: 85%;
  margin-left: 7.5%;
}
#startmenu li em {
  display: block;
  padding: 1rem;
}

@media screen and (min-width: 500px) {
  #startmenu header {
    width: 80%;
    left: 10%;
  }
}
@media screen and (min-width: 1000px) {
  #startmenu header {
    width: 50%;
    left: 25%;
  }
}

/* ///////////////////////////////////////////// */
/* whackamole */
/* ///////////////////////////////////////////// */
#molepause {
  position: fixed;
  right: 0;
}
#molecontainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90%;
}
#molecontainer .mole {
  position: absolute;
  width: 28%;
  min-height: 2rem;
}
#molecontainer .mole:nth-of-type(-n+3) {
  top: 10%;
}
#molecontainer .mole:nth-of-type(n+4) {
  top: 50%;
}
#molecontainer .mole:nth-of-type(1),#molecontainer .mole:nth-of-type(4) {
  left: 5%;
}
#molecontainer .mole:nth-of-type(2),#molecontainer .mole:nth-of-type(5) {
  left: 36%;
}
#molecontainer .mole:nth-of-type(3),#molecontainer .mole:nth-of-type(6) {
  right: 5%;
}
.moleactive {
  background-color: red;
}
/* ///////////////////////////////////////////// */
/* dance */
/* ///////////////////////////////////////////// */
#dancepause {
  position: fixed;
  right: 0;
}
#dancecontainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90%;
}
#dancecontainer #avatar {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 20%;
  z-index: 10;
  -webkit-animation-name: dance; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out;
  animation-name: dance;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes dance {
  0% {left: 25%;}
  50% {left: 20%;}
  100% {left: 25%;}
}

/* Standard syntax */
@keyframes dance {
  0% {left: 25%;}
  50% {left: 20%;}
  100% {left: 25%;}
}
#dancebuttonscontainer {
  width: 100%;
  position: fixed;
  top: 5%;
  /* bottom: 0; */
  height: 90%;

}
#danceinstructor {
  width: 120%;
  height: 90%;
  text-align: center;
  margin-left: -12%;
  margin-bottom: 0.5rem;
  border-bottom: #2b1c1c solid 1px;
  border-top: #2b1c1c solid 1px;

}
#danceinstructor .movedone {
  color: grey;
}
#danceinstructor em {
  transition: left 2s;
  transition-timing-function: linear;
  position: absolute;
  display: block;
  background-color: red;
  width: 12%;
  height: 90%;

}
#danceinstructor em:nth-of-type(1) {
  left: -12%;
}
#danceinstructor em:nth-of-type(2) {
  left: 0%;
}
#danceinstructor em:nth-of-type(3) {
  left: 12%;
}
#danceinstructor em:nth-of-type(4) {
  left: 24%;
}
#danceinstructor em:nth-of-type(5) {
  left: 36%;
}
#danceinstructor em:nth-of-type(6) {
  left: 48%;
}
#danceinstructor em:nth-of-type(7) {
  left: 60%;
}
#danceinstructor em:nth-of-type(8) {
  left: 72%;
}
#danceinstructor em:nth-of-type(9) {
  left: 84%;
}
#danceinstructor em:nth-of-type(10) {
  left: 96%;
}
#danceinstructor em:nth-of-type(11) {
  left: 108%;
}
/* #danceinstructor em:nth-of-type(10) {
  left: 99.9%;
} */
#dancecontainer .dancebuttons {
  /* position: absolute; */
  display: inline-block;
  background-color: rgba(255, 78, 90, 0.5);
  width: 40%;
  min-height: 3rem;
  margin-left: 5%;
  margin-bottom: 2%;
  box-shadow: 3px 3px 3px 0px black;
}
#dancecontainer .dancebuttons:nth-of-type(-n+2) {
  /* bottom: 10%; */
}
#dancecontainer .dancebuttons:nth-of-type(n+3) {
  /* bottom: 30%; */
}
#dancecontainer .dancebuttons:nth-of-type(1), #danceinstructor .colorA {
  background-color: rgba(78, 255, 247, 0.5);
  /* left: 5%; */
}
#dancecontainer .dancebuttons:nth-of-type(2), #danceinstructor .colorB {
  background-color:rgba(157, 0, 255, 0.5);

}
#dancecontainer .dancebuttons:nth-of-type(3), #danceinstructor .colorC {
  background-color: rgba(35, 255, 0, 0.5);
}
#dancecontainer .dancebuttons:nth-of-type(4), #danceinstructor .colorD {
  background-color: rgba(0, 16, 254, 0.5);
}
#dancecontainer .dancebuttons:nth-of-type(2),#dancecontainer .dancebuttons:nth-of-type(4) {
  /* right: 5%; */
}
#danceinstructor em.currentdancemove {
  color: red;
  border: solid black inset;
}
#danceinstructor em.gothim {
  color: green;
  border: solid green;
}
/* ///////////////////////////////////////////// */
/* global */
/* ///////////////////////////////////////////// */
.hidden {
  display: none;
}
