/*********************
VARIABLES
*********************/
$color_background: #fff;
$color_lightbackground: #f0f0ff;
$color_a: rgb(0,173,239);
$color_b: rgb(255,133,  0);
$color_c: rgb(183,  0,241);
$color_d: rgb(236,254,  0);
